@import url('../../shared/variables.css');
@import url('../../shared/mixins.css');

.themeToggle {
  flex-flow: row nowrap;
  grid-area: theme;
  justify-self: flex-end;
  margin-left: auto;

  button {
    appearance: none;
    background: transparent;
    border: 0;
    color: var(--mainColor);
    cursor: pointer;
    transition: scale 300ms;

    body.light &.light,
    body.dark &.dark,
    body:not(.light, .dark) &.system {
      scale: 1.2;
    }

    &:hover {
      scale: 1.5;
    }
  }

  &.footer {
    display: flex;

    @mixin desktop {
      display: none;
    }
  }

  &.header {
    display: none;

    @mixin desktop {
      display: flex;
    }
  }

  nav & {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 0 1rem;
  }

  svg {
    height: 1rem;
    width: 1rem;
  }
}
