.pageNav {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  justify-content: center;

  a.active {
    &:link,
    &:visited {
      font-weight: bold;
      pointer-events: none;

      &::after {
        inset: 0 -0.5rem;
        opacity: 0.25;
      }
    }
  }
}
