.spoiler {
  background-color: var(--accentColor);
  color: transparent;
  cursor: zoom-in;
  display: inline;
  padding: 0.125rem 0.25rem;
  transition:
    color 300ms,
    background-color 300ms,
    filter 300ms;

  &:has(p),
  &:has(div) {
    display: block;
    padding-block-end: inherit;
    padding-block-start: inherit;
  }

  &.visible,
  :root:global(.noJs) &:hover {
    background-color: var(--mainBg);
    color: color-mix(in rgb, var(--accentColor), var(--mainColor));
    cursor: zoom-out;
    filter: blur(0) drop-shadow(0 0 1px var(--accentColor));
  }
}
