@import url('./css-reset.css');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 600;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;

  strong {
    font-weight: 600;
  }
}
