@import url('../shared/mixins.css');
@import url('./css-reset.css');
@import url('./vars.css');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}

:root {
  font-size: 14px;

  @mixin desktop {
    font-size: 16px;
  }
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;

  background: var(--mainBg);
  color: var(--mainColor);

  strong {
    font-weight: 600;
  }
}

a:link,
a:visited {
  &:not(nav *) {
    color: var(--mainLinkColor);
    display: inline-block;
    text-decoration: none;
    position: relative;

    &::after {
      background-color: var(--mainLinkHoverColor);
      border-radius: 2px;
      content: '';
      display: block;
      inset: 0 calc(100% + 0.5rem) 0 -0.5rem;
      opacity: 0;
      position: absolute;
      transform: rotate(-3deg);
      transition: opacity 300ms, inset 300ms;
      z-index: -1;
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 1;
        inset: 0 -0.5rem;
      }
    }
  }

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 &,
  strong & {
    color: var(--accentColor);
    text-decoration: underline;
  }
}

body > main {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

body > footer {
  font-size: 0.875rem;
  margin: 0 auto;
  opacity: 0.5;
  padding: 2rem 1rem 1rem;
  text-align: center;
}
