@import url('../shared/variables.css');

:root {
  color-scheme: light dark;

  --navBg: $white;
  --navColor: $dark;

  --mainBg: $light;
  --mainColor: $dark;

  --mainLinkColor: $fireEngineRed;
  --mainLinkHoverColor: $xanthous;

  --accentColor: $fireEngineRed;
  --secondaryAccentColor: $orange;

  @media (prefers-color-scheme: dark) {
    --navBg: $black;
    --navColor: $white;

    --mainBg: $dark;
    --mainColor: $light;

    --mainLinkColor: $xanthous;
    --mainLinkHoverColor: $black;

    --accentColor: $xanthous;
    --secondaryAccentColor: $fireEngineRed;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
