@import url('../shared/variables.css');
@import url('../shared/mixins.css');

@property --navBg {
  inherits: true;
  initial-value: $white;
  syntax: '<color>';
}

@property --navColor {
  inherits: true;
  initial-value: $dark;
  syntax: '<color>';
}

@property --mainBg {
  inherits: true;
  initial-value: $light;
  syntax: '<color>';
}

@property --mainColor {
  inherits: true;
  initial-value: $dark;
  syntax: '<color>';
}

@property --mainLinkColor {
  inherits: true;
  initial-value: $fireEngineRed;
  syntax: '<color>';
}

@property --mainLinkHoverColor {
  inherits: true;
  initial-value: $xanthous;
  syntax: '<color>';
}

@property --accentColor {
  inherits: true;
  initial-value: $fireEngineRed;
  syntax: '<color>';
}

@property --secondaryAccentColor {
  inherits: true;
  initial-value: $orange;
  syntax: '<color>';
}

:root {
  --navBg: $white;
  --navColor: $dark;
  --mainBg: $light;
  --mainColor: $dark;
  --mainLinkColor: $fireEngineRed;
  --mainLinkHoverColor: $xanthous;
  --accentColor: $fireEngineRed;
  --secondaryAccentColor: $orange;

  color-scheme: light dark;

  @mixin dark {
    --navBg: $black;
    --navColor: $white;
    --mainBg: $dark;
    --mainColor: $light;
    --mainLinkColor: $xanthous;
    --mainLinkHoverColor: $black;
    --accentColor: $xanthous;
    --secondaryAccentColor: $fireEngineRed;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
