RewriteEngine on
RewriteRule ^confused/??(.*)$ http://confused.bensaufley.com/$1?ref=old&%{QUERY_STRING} [R=301,L,NC]

Options -Indexes

ErrorDocument 404 /404.html

RewriteRule ^(20[0-9]{2}/.+)$ /blog/$1 [R=301,L,NC]
