$cornSilk: #fdf7e2;
$xanthous: #ffc85a;
$orange: #f77f00;
$fireEngineRed: #d62828;
$prussianBlue: #003049;

$white: #fff;
$black: #000;

$light: $cornSilk;
$dark: $prussianBlue;
$accent: $orange;

$sansStack: 'DM Sans', sans-serif;
$serifStack: 'Crimson Text', 'DM Serif Display', serif;
