@import url('./variables.css');

/* stylelint-disable */
:export {
  accent: $accent;
  black: $black;
  cornSilk: $cornSilk;
  dark: $dark;
  fireEngineRed: $fireEngineRed;
  light: $light;
  orange: $orange;
  prussianBlue: $prussianBlue;
  sansStack: $sansStack;
  serifStack: $serifStack;
  white: $white;
  xanthous: $xanthous;
}
/* stylelint-enable */
