.spoiler {
  background-color: var(--accentColor);
  color: transparent;
  cursor: default;
  padding: 0.125rem 0.25rem;
  transition:
    color 300ms,
    background-color 300ms,
    filter 300ms;

  &:has(p),
  &:has(div) {
    display: block;
  }

  &.visible {
    background-color: var(--mainBg);
    color: color-mix(in rgb, var(--accentColor), var(--mainColor));
    filter: drop-shadow(0 0 1px var(--accentColor));
  }
}
