---
import type { SvgComponent } from 'astro/types';
import clsx from 'clsx';

import type { Frontmatter } from '~pages/types';

import styles from './styles.module.css';

export interface Props {
  data: Frontmatter & { path: string };
  currentPath: string;
  icon?: SvgComponent | undefined;
}

const { data, currentPath, icon: Icon } = Astro.props;

const root = data.path.split('/')[1] || 'blog';
const currentRoot = currentPath.split('/')[1] || 'blog';
const isCurrentPath = root === currentRoot;
---

<li>
  <a href={data.path} class={clsx(isCurrentPath && styles.active)}>
    {
      Icon && (
        <span class={styles.icon}>
          <Icon />
        </span>
      )
    }
    <span class={styles.text}>{data.title}</span>
  </a>
</li>
