@import url('../../shared/variables.css');
@import url('../../shared/mixins.css');

.pageHeader {
  align-items: center;
  background-color: var(--navBg);
  color: var(--navColor);
  display: grid;
  gap: 0.5rem;
  grid-area: header;
  grid-template: 1fr / 1fr auto;
  padding: 0.5rem;

  .desktopBreak {
    display: none;
  }

  h3 {
    opacity: 0.5;
  }

  .name {
    color: var(--accentColor);
    text-shadow:
      -1px -1px 0 var(--navBg),
      0 -1px 0 var(--navBg),
      -1px 0 0 var(--navBg),
      -0.5px -0.5px 0 var(--navBg),
      0 -0.5px 0 var(--navBg),
      -0.5px 0 0 var(--navBg),
      0.5px 0.5px 0 var(--navBg),
      1px 1px 0 var(--navBg),
      1.5px 1.5px 0 var(--secondaryAccentColor),
      2px 2px 0 var(--secondaryAccentColor);

    a:link {
      display: contents;

      &::after {
        display: none;
      }
    }

    @mixin desktop {
      line-height: 1;
      margin: 0 auto;
      scale: 0.75;
      text-shadow:
        -2px -2px 0 var(--mainBg),
        0 -2px 0 var(--mainBg),
        -2px 0 0 var(--mainBg),
        -1.5px -1.5px 0 var(--mainBg),
        0 -1.5px 0 var(--mainBg),
        -1.5px 0 0 var(--mainBg),
        -1px -1px 0 var(--mainBg),
        0 -1px 0 var(--mainBg),
        -1px 0 0 var(--mainBg),
        -0.5px -0.5px 0 var(--mainBg),
        0 -0.5px 0 var(--mainBg),
        -0.5px 0 0 var(--mainBg),
        0.5px 0.5px 0 var(--mainBg),
        1px 1px 0 var(--mainBg),
        1.5px 1.5px 0 var(--mainBg),
        2px 2px 0 var(--mainBg),
        2.5px 2.5px 0 var(--mainBg),
        3px 3px 0 var(--mainBg),
        3.5px 3.5px 0 var(--mainBg),
        4px 4px 0 var(--mainBg),
        4.5px 4.5px 0 var(--mainBg),
        5px 5px 0 var(--secondaryAccentColor),
        5.5px 5.5px 0 var(--secondaryAccentColor),
        6px 6px 0 var(--secondaryAccentColor),
        6.5px 6.5px 0 var(--secondaryAccentColor),
        7px 7px 0 var(--secondaryAccentColor),
        7.5px 7.5px 0 var(--secondaryAccentColor),
        8px 8px 0 var(--secondaryAccentColor);
      width: max-content;

      &::first-letter {
        float: left;
        font-size: 10rem;
        line-height: 1.6ch;
        margin-right: -0.375rem;
        vertical-align: baseline;
      }

      .firstName {
        font-size: 8rem;
        line-height: 0.625;
      }

      .lastName {
        display: block;
        font-size: 2.375rem;
        font-style: italic;
        margin-left: 6rem;
      }
    }
  }

  h3.position {
    font-family: $sansStack;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;

    @mixin desktop {
      clear: both;
      font-size: 1rem;
      text-align: center;
    }
  }

  @mixin desktop {
    align-self: start;
    background: transparent;
    color: var(--color);
    display: block;
    position: sticky;
    top: 0;
    z-index: 11;

    .desktopBreak {
      display: block;
    }
  }
}

.stickyNav {
  align-items: stretch;
  background: var(--navBg);
  color: var(--navColor);
  display: grid;
  font-family: $serifStack;
  font-size: 1rem;
  font-weight: 400;
  grid-area: nav;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  left: 0;
  margin-bottom: 1rem;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 10;

  .name {
    align-self: center;
    color: var(--accentColor);
    font-size: 1.25rem;
    opacity: 0;
    padding: 0 1rem;
    pointer-events: none;
    text-decoration: none;
    text-shadow:
      -1px -1px 0 var(--navBg),
      0 -1px 0 var(--navBg),
      -1px 0 0 var(--navBg),
      -0.5px -0.5px 0 var(--navBg),
      0 -0.5px 0 var(--navBg),
      -0.5px 0 0 var(--navBg),
      0.5px 0.5px 0 var(--navBg),
      1px 1px 0 var(--navBg),
      1.5px 1.5px 0 var(--secondaryAccentColor),
      2px 2px 0 var(--secondaryAccentColor);
    transition: opacity 300ms;
  }

  .ghLink {
    display: none;
    transition: font-size 300ms;

    [data-corvu-tooltip-anchor] {
      align-items: center;
      display: flex;
    }

    a {
      color: var(--mainColor);
    }

    svg {
      width: 1em;
    }

    @mixin desktop {
      display: flex;
    }
  }

  &:global(.stuck) {
    .name {
      opacity: 1;
      pointer-events: auto;

      @mixin desktop {
        display: none;
      }
    }
  }

  a {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    padding: 1rem 0.75rem;

    .icon {
      height: 2rem;
      width: 2rem;
    }

    .text {
      display: none;
    }
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: '';
    padding-inline-start: 0;

    a:link,
    a:visited {
      color: var(--navColor);
      position: relative;
      text-decoration: none;

      &::before,
      &::after {
        border: 0.5rem solid transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        transition:
          transform 250ms ease-out,
          opacity 250ms ease-out;
        width: 0;
      }

      &::before {
        transform: translate(-50%, 50%);
      }

      &::after {
        opacity: 0;
        transform: translate(-50%, -50%);
      }

      &:focus,
      &:hover,
      &.active {
        &::before {
          border-top-color: var(--navBg);
          border-width: 0.75rem;
          transform: translate(-50%, 100%);
        }

        &::after {
          border-top-color: var(--navColor);
          opacity: 1;
          transform: translate(-50%, calc(100% - 2px));
        }
      }

      &.active {
        opacity: 0.9;
      }
    }

    @mixin desktop {
      margin-left: 0;

      @media (prefers-reduced-motion: no-preference) {
        transition:
          margin-left 300ms ease-in-out,
          font-size 300ms ease-in-out;
      }
    }
  }

  style,
  script {
    display: none;
  }

  @mixin tablet {
    font-size: 1.25rem;
    margin-bottom: 2rem;

    a {
      .icon {
        height: 1rem;
        width: 1rem;
      }

      .text {
        display: block;
      }
    }
  }

  @mixin desktop {
    a {
      .icon {
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }
}

@mixin desktop {
  :has(.pageHeader:global(.stuck)) {
    .stickyNav {
      font-size: 1rem;

      ul {
        margin-left: 10rem;
      }
    }
  }
}
