---
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';

import CoverImage, { CoverSize } from './CoverImage';

import styles from './styles.module.css';

dayjs.extend(utc);

const allBooks = (await getCollection('books', (book) => !book.data.finishedAt && !!book.data.startedAt)).toSorted(
  (a, b) => dayjs.utc(b.data.startedAt).diff(a.data.startedAt, 'day'),
);
---

<div class={styles.nowReading}>
  <h3>Now Reading</h3>
  <ul>
    {
      allBooks.map((book) => (
        <li class={styles.book}>
          <CoverImage book={book.data} size={CoverSize.Medium} />
        </li>
      ))
    }
  </ul>
</div>
