@import url('../../shared/variables.css');
@import url('../../shared/mixins.css');

.pageHeader {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;

  .readingLinks {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    margin-left: auto;
  }

  svg {
    height: 1.5rem;
    width: auto;
  }
}

.hud {
  display: grid;
  gap: 1rem 3rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;

  .nowReading,
  .upNext {
    display: grid;
    grid-column-end: span 1;
    grid-row: 1 / -1;
    grid-template-rows: subgrid;

    header {
      align-items: flex-start;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

    h3 {
      margin: 0;
    }

    h3 + p {
      font-size: 0.875rem;
      font-style: italic;
      margin: 0;
      opacity: 0.75;
    }
  }

  .hint {
    font-size: 0.875rem;
    font-style: italic;
    opacity: 0.8;
  }

  ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    width: stretch;

    object {
      max-height: 4.5rem;
      width: 3rem;
    }

    a:link,
    a:visited {
      &::after {
        display: none;
      }
    }
  }

  @media (width >= 60em) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@property --ratingAnimation {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}

.read {
  .empty {
    display: block;
    font-style: italic;
    grid-column: 1 / -1;
  }

  .books {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: min(15%, 4rem) 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .book {
    align-items: center;
    display: grid;
    gap: 0 0.5rem;
    grid-column: 1 / -1;
    grid-template:
      'cover title title title' auto
      'cover author finished rating' auto
      '. review review review' auto / min(15%, 4rem) 1fr 1fr 1fr;
    grid-template-columns: subgrid;
    margin-bottom: 1rem;
    position: relative;
    scroll-margin-top: 4.875rem;

    .cover {
      align-items: center;
      container-type: inline-size;
      display: flex;
      flex-flow: row nowrap;
      grid-area: cover;
      justify-content: center;
      margin-right: 0.5rem;

      img {
        height: auto;
        max-height: 100cqw;
        max-width: 100%;
      }
    }

    h3 {
      color: color-mix(in srgb, var(--accentColor), var(--mainColor));
      font-size: 1rem;
      grid-area: title;

      a,
      span {
        small {
          font-family: $sansStack;
          margin-left: 0.5rem;
        }
      }
    }

    h3,
    p {
      margin: 0;
    }

    p {
      font-size: 0.875rem;
    }

    p.author {
      font-style: italic;
      grid-area: author;
    }

    p.finished {
      grid-area: finished;
      justify-self: flex-end;
    }

    .rating {
      grid-area: rating;
    }

    .review {
      grid-area: review;

      p + p,
      p + spoiler:has(p),
      spoiler:has(p) + p {
        margin-top: 1rem;
      }

      &:not(:empty) {
        margin-top: 1rem;
      }
    }
  }

  .icons {
    align-items: center;
    display: inline-flex;
    flex-flow: row wrap;
    float: right;
    gap: 0.5rem;
    margin-left: 0.5rem;
    vertical-align: baseline;

    span {
      height: 1rem;
      width: 1rem;
    }

    svg {
      height: 1rem;
      width: 1rem;
    }

    a:link,
    a:visited {
      &::after {
        display: none;
      }

      &:hover {
        transform: scale(1.25);

        @media (prefers-reduced-motion: no-preference) {
          transition: transform 300ms;
        }
      }
    }
  }

  .rating {
    --circleSize: 1rem;

    background-image: linear-gradient(
      to right,
      var(--secondaryAccentColor) 20%,
      color-mix(in srgb, var(--secondaryAccentColor), var(--accentColor) 25%) 20%,
      color-mix(in srgb, var(--secondaryAccentColor), var(--accentColor) 25%) 40%,
      color-mix(in srgb, var(--secondaryAccentColor), var(--accentColor) 50%) 40%,
      color-mix(in srgb, var(--secondaryAccentColor), var(--accentColor) 50%) 60%,
      color-mix(in srgb, var(--secondaryAccentColor), var(--accentColor) 80%) 60%,
      color-mix(in srgb, var(--secondaryAccentColor), var(--accentColor) 80%) 80%,
      var(--accentColor) 80%
    );
    height: calc(var(--circleSize) * 1.1);
    justify-self: flex-end;
    mask:
      radial-gradient(
        circle at 10% calc(var(--circleSize) * 1.1 / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      radial-gradient(
        circle at 30% calc(var(--circleSize) * 1.1 / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      radial-gradient(
        circle at 50% calc(var(--circleSize) * 1.1 / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      radial-gradient(
        circle at 70% calc(var(--circleSize) * 1.1 / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      radial-gradient(
        circle at 90% calc(var(--circleSize) * 1.1 / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) * 0.45),
        #999 calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      linear-gradient(
          to left,
          #fff,
          #fff calc(var(--rating) / 5 * 100% * var(--ratingAnimation)),
          transparent calc(var(--rating) / 5 * 100% * var(--ratingAnimation))
        )
        intersect,
      radial-gradient(
        circle at 10% calc(var(--circleSize) * 1.1 / 2),
        #fff,
        #fff calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      radial-gradient(
        circle at 30% calc(var(--circleSize) * 1.1 / 2),
        #fff,
        #fff calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      radial-gradient(
        circle at 50% calc(var(--circleSize) * 1.1 / 2),
        #fff,
        #fff calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      radial-gradient(
        circle at 70% calc(var(--circleSize) * 1.1 / 2),
        #fff,
        #fff calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      ),
      radial-gradient(
        circle at 90% calc(var(--circleSize) * 1.1 / 2),
        #fff,
        #fff calc(var(--ratingAnimation) * var(--circleSize) / 2),
        transparent calc(var(--ratingAnimation) * var(--circleSize) / 2)
      );
    mask-mode: luminance;
    width: calc(var(--circleSize) * 5 + var(--circleSize) * 4 * 0.25);

    &.visible {
      @media (prefers-reduced-motion: no-preference) {
        animation: showRating 500ms 100ms ease-in-out forwards;
      }

      @media (prefers-reduced-motion: reduce) {
        --ratingAnimation: 1;
      }
    }
  }
}

@keyframes showRating {
  0% {
    --ratingAnimation: 0;
  }

  75% {
    --ratingAnimation: 1.1;
  }

  100% {
    --ratingAnimation: 1;
  }
}

.cover {
  img,
  object {
    border-radius: 3px;
  }

  a&:link,
  a&:visited {
    display: block;

    &::after {
      display: none;
    }

    @media (prefers-reduced-motion: no-preference) {
      filter: drop-shadow(0 0 0 rgb(0 0 0 / 80%));
      transition: filter 300ms ease-in-out;

      img,
      object {
        transform: rotate(0deg) scale(1);
        transition: transform 300ms ease-in-out;
      }

      &:hover {
        filter: drop-shadow(0 6px 6px rgb(0 0 0 / 30%));

        img,
        object {
          transform: rotate(-3deg) scale(1.1);
        }
      }
    }
  }
}

.bookReview {
  .coverImage {
    border-radius: 3px;
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
    max-height: 12rem;
    max-width: 10rem;
    shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: rotate(-3deg);
  }

  h3 {
    font-family: $sansStack;
  }

  .back {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;

    svg {
      width: 1rem;
    }
  }
}

.ratings {
  background-color: rgb(from var(--navBg) r g b / calc(0.15));
  border-radius: 3px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%) inset;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto repeat(9, 1fr);
  margin: 1rem 0;
  padding: 1rem;

  h3 {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    margin: 0;
  }

  .ratingLabel {
    border: solid transparent;
    border-radius: 3px 0 0 3px;
    border-width: 2px 0 2px 2px;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    text-align: center;
    transition: border-color 300ms;
  }

  .ratingValue {
    display: grid;
    font-size: 0.875rem;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    &::after {
      display: none;
    }

    /** Waiting for sibling-index()
     * https://nerdy.dev/sibling-index
     * --ratingNo: sibling-index();
     */
    &:nth-child(1 of .ratingValue) {
      --ratingNo: 1;
    }

    &:nth-child(2 of .ratingValue) {
      --ratingNo: 2;
    }

    &:nth-child(3 of .ratingValue) {
      --ratingNo: 3;
    }

    &:nth-child(4 of .ratingValue) {
      --ratingNo: 4;
    }

    &:nth-child(5 of .ratingValue) {
      --ratingNo: 5;
    }

    &:nth-child(6 of .ratingValue) {
      --ratingNo: 6;
    }

    &:nth-child(7 of .ratingValue) {
      --ratingNo: 7;
    }

    &:nth-child(8 of .ratingValue) {
      --ratingNo: 8;
    }

    &:nth-child(9 of .ratingValue) {
      --ratingNo: 9;
    }

    &:hover {
      .ratingBar::before,
      .ratingLabel {
        border-color: rgb(from var(--mainColor) r g b / 50%);
      }
    }
  }

  .ratingBar {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;

    &::before {
      background-color: color-mix(
        in srgb,
        var(--accentColor),
        var(--secondaryAccentColor) calc((var(--ratingNo) - 1) / 8 * 100%)
      );
      border: solid transparent;
      border-radius: 0 3px 3px 0;
      border-width: 2px 2px 2px 0;
      content: '';
      display: block;
      height: 100%;
      transition: border-color 300ms;
      width: calc((100% - 5ch) * var(--ratingBookFraction));
    }
  }

  @mixin tablet {
    column-gap: 1rem;
    grid-auto-flow: row;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto 15vh 1fr;

    .ratingValue {
      border-width: 0 2px 2px;
      grid-column: auto / span 1;
      grid-row: 2 / -1;
      grid-template-columns: 1fr;
      grid-template-rows: subgrid;
    }

    .ratingLabel {
      background-color: rgb(from var(--navBg) r g b / calc(0.15));
      border-radius: 0 0 3px 3px;
      border-width: 0 2px 2px;
      order: 2;
      padding: 0.5rem;
    }

    .ratingBar {
      flex-direction: column-reverse;
      justify-content: flex-start;
      order: 1;

      &::before {
        border-radius: 3px 3px 0 0;
        border-width: 2px 2px 0;
        height: calc((100% - 2rem) * var(--ratingBookFraction));
        width: 100%;
      }
    }
  }
}
