@import url('../../shared/mixins.css');

.entry {
  + & {
    margin-top: 2rem;
  }

  > main > * {
    margin: 0.5rem 0;

    @mixin tablet {
      margin: 0.75rem 0;
    }

    @mixin desktop {
      margin: 1rem 0;
    }
  }

  code {
    color: var(--accentColor);
    font-size: 0.875rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .headerImage {
    margin: 1rem auto;
    max-height: 18rem;
    max-width: 100%;
  }

  img:not(.headerImage) {
    border: 2px solid var(--secondaryAccentColor);
    cursor: pointer;
    display: block;
    height: auto;
    width: 150px;
    float: none;
    margin: 10px auto;

    &:hover {
      border-color: var(--accentColor);
    }

    &:global(.no-border) {
      border: none;
    }

    &:global(.no-link) {
      &,
      &:hover {
        border-color: var(--secondaryAccentColor);
        cursor: default;
      }
    }
    &:global(.align-left) {
      float: left;
      margin-right: 10px;
    }

    &:global(.align-right) {
      float: right;
      margin-right: 10px;
    }
  }

  :global(.footnotes) {
    font-size: 0.875rem;

    h2 {
      font-size: 1rem;
    }

    ol {
      padding-left: 1rem;
    }
  }

  &.book {
    header {
      display: grid;
      gap: 0 1rem;
      grid-template:
        'cover title title' auto
        'cover date rating' auto / 3rem 1fr;

      > * {
        margin: 0;
      }
    }

    h2,
    h3 {
      grid-area: title;
    }

    time {
      grid-area: date;
      justify-self: flex-start;
    }

    .cover {
      align-content: center;
      grid-area: cover;

      .coverImage {
        margin: 0;
        img {
          margin: 0 auto;
        }
      }
    }

    &.started {
      header {
        align-items: center;
        grid-template:
          'cover title' auto
          'cover date' auto / 3rem 1fr auto;
      }

      h3 {
        font-size: 1em;
      }
    }
  }
}
