@import url('../../shared/mixins.css');

.blogPost {
  + & {
    margin-top: 2rem;
  }

  > main > * {
    margin: 0.5rem 0;

    @mixin tablet {
      margin: 0.75rem 0;
    }

    @mixin desktop {
      margin: 1rem 0;
    }
  }

  code {
    color: var(--accentColor);
    font-size: 0.875rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    border: 2px solid var(--secondaryAccentColor);
    cursor: pointer;
    display: block;

    &:hover {
      border-color: var(--accentColor);
    }

    &:global(.no-border) {
      border: none;
    }

    &:global(.no-link) {
      &,
      &:hover {
        border-color: var(--secondaryAccentColor);
        cursor: default;
      }
    }

    &:global(.thumb) {
      height: auto;
      width: 150px;
    }

    &:global(.align-center) {
      float: none;
      margin: 10px auto;
    }

    &:global(.align-left) {
      float: left;
      margin-right: 10px;
    }

    &:global(.align-right) {
      float: right;
      margin-right: 10px;
    }
  }
}
